@import '~antd/dist/antd.css';

*{
    margin: 0;
    padding: 0;
}

.header-title, .products-title{
    margin-top:20px;
    text-align: center;
}
.header-description{
    text-align: justify;
}

.products-row{
    margin: 20px auto;
}